body{
    background: linear-gradient(273.36deg, #003166 0%, #007AFF 100%);
}
header{
    margin: 60px 115px;
    display: flex;
}
.header_ul{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    list-style: none;
    gap: 60px;
    padding-left: 800px;
}
.mobile_nav{
    display: none;
}
@media screen and (max-width: 768px) {
    nav{
        display: none;
    }
    .desctop_nav{
        display: none;
    }
    .mobile_nav{
        display: block;
    }
}